body{
    background-image: url("../images/room.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100vh;
    font-size: 36px;
}
.content{
    margin: 40px;
}
#mybtn, #mybtn2, #fr{
    padding: 2px;
    width: 70px;
    border-radius: 10%;
    float: right;
    margin: 2px;
    cursor: pointer;
}
#temp{
    padding: 2px;
    width: 70px;
    border-radius: 10%;
    float: right;
    margin: 2px;
}
#width{
    width: 80%;
}
#myhouse{
    color: rgb(25, 88, 0);
    font-weight: bold;
    font-size: 60px;
    background: rgb(214, 214, 214);
    border-radius: 1%;
}
li {
    margin: 10px;
}
.right {
    float: right;
}
a {
    text-decoration: none;
}
#color {
    color: #0000FF;
    cursor: pointer;  
    padding: 15px;
    padding-left: 10px;
    margin-left: 0px;
}
a {
    color: black;
    text-decoration: none;
}

.opac{
    opacity: .90;
}
@media only screen and (max-width: 800px) {
    .content{
        width: 100%;
        font-size: 20px;
    }
    #myhouse{
        color: rgb(88, 0, 0);
        font-weight: bold;
        font-size: 60px;
        background: rgb(214, 214, 214);
        border-radius: 1%;
    }
  }