.list-item{
    padding-top: 2%;
    padding-bottom: 2%;
}

.list-data{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.list{
    font-weight: bolder;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    background: rgb(255, 255, 255);
    box-shadow: 3px 3px 3px grey;
}

#red{
    color: red;
}

#green{
    color: green;
}