.list-item{
    margin-top: 6px;
    float: left;
}

.list-data{
    text-align: center;
}

.list{
    font-weight: bolder;
    width: 90%;
    padding: 15px 5px 15px 0px;
    margin: 0px 10px 20px 5%;
    background: rgb(255, 255, 255);
    box-shadow: 3px 3px 3px grey;
    border-radius: 5px;
    text-align: center;
}

#red{
    color: red;
}

#green{
    color: green;
}

.data{
    background: rgb(238, 238, 238);
    box-shadow: 3px 3px 3px grey;
    padding: 1%;
    border-radius: 5px;
}

.time{
    font-size: 10px;
    width: 30%;
    margin-left: 10%;
}
